.position {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #777;
  transition: all 0.5s;
}

.position input {
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  text-align: center;
  color: #777;
}

.position .up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}
.position .down {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.position input::-webkit-outer-spin-button,
.position input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.position input[type='number'] {
  -moz-appearance: textfield;
}

.position input:focus {
  outline: 0;
}
.position:focus {
  outline: 0;
}
